/* line 6, SCSS/styles.scss */
body {
  background-color: #373C53;
  display: grid;
}

/* line 11, SCSS/styles.scss */
.gallery_container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(6, 120px);
  grid-auto-flow: column;
  grid-gap: 25px;
  margin: auto;
}

/* line 19, SCSS/styles.scss */
.gallery_container .gallery {
  grid-row: span 2;
  position: relative;
  background-color: #F9E2CD;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}

/* line 25, SCSS/styles.scss */
.gallery_container .gallery:nth-child(2), .gallery_container .gallery:nth-child(3), .gallery_container .gallery:nth-child(6) {
  grid-row: span 3;
}

/* line 30, SCSS/styles.scss */
.gallery_container .gallery:hover:before {
  content: "Message";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(129, 144, 201, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #fff;
}

/* line 47, SCSS/styles.scss */
.gallery_container .gallery_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
