$bg-color: #373C53;
$bg-hover: #8190C9;
$font-color: #F9E2CD;

body {
  background-color: $bg-color;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.gallery_container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(5, 120px);
  grid-auto-flow: column;
  grid-gap: 25px;
  margin: auto;

  & .gallery {
    grid-row: span 2;
    position: relative;
    background-color: $font-color;
    box-shadow: 0 0 20px 1px rgba(#000, 0.5);

    &:nth-child(2), &:nth-child(3), &:nth-child(6) {
      grid-row: span 3;
    }

    &:hover {
      &:before {
        content: "Message";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($bg-hover, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        color: #fff;
      }
    }
  }

  .gallery_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

